<!DOCTYPE html>
<html lang="en">
  <head></head>
  <% if (user_ID) { %>
  <body style="fot-size:20px; padding:50px;">
    <% include partials/_header %>
    <form action="/urls" method="POST" style="margin:20px;">
      <label for="longURL">Enter a URL:</label>
      <input id="longURL" type="text" name="longURL" placeholder= http://" style="width: 300px">
      <input type="submit" value="Submit">
    </form>
    <% } else { %>
    <p>You Need to Login to Shorten A URL</p>
    <p> Please Return to the Home Page to Register/Login</p>
    <a href="/urls"> Return to Home Page</a>
  </body>
</html>
<% } %>
